* {
    position: relative;
}

@font-face {
    font-family: NIAGENG;
    src: url("./Fonts/NIAGENG.TTF")
}

@font-face {
    font-family: Swiss;
    src: url("./Fonts/Swiss721BT-Light.otf")
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.start {
    position: absolute;
    z-index: 10;
    margin-top: -35vh;
    border: none;
    font-size: 5vw;
    font-family: "Swiss";
    color: white;
    background: transparent;
}

.page {
    width: 1500px;
    height: 100vh;
    z-index: -20;
}