* {
    position: relative;
}

.container-fluid {
    padding: 0px;
}

.mainPage {
    width: 100vw;
    height: 100vh;
    background-color: #2F4F4F;
    z-index: 0;
}

.block {
    width: 10vw;
    height: 30vh;
    border: 1px solid #008080;
    border-radius: 10%;
    z-index: 1;
}

.spades {
    float: right;
}